@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --highlight-color: #F2A922;
  --bg-main: #101010;
  --bg-secondary: rgba(#202020, .25);
  --shadow-color: rgba(rgb(255, 255, 255), .5);
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: var(--highlight-color);
  text-decoration: underline;
}

body {
  position: relative;
  color: white;
  background: var(--bg-main);
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  padding: calc(100vw * 0.15);
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--highlight-color);
  font-size: 3rem;
  margin: 0 0 2rem;
  text-align: center;
}

.article_section + .title {
  margin: 6rem 0 1rem;
  padding-top: 2rem;
  border-top: 1px solid var(--highlight-color);
  width: 100%;
}

.sub_heading {
  font-size: 2rem;
  position: relative;
  color: var(--highlight-color);
  margin: 5rem 0 2rem;
  width: 100%;
}

.sub_heading::after {
  content: '';
  position: absolute;
  top: 100;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--highlight-color);
}

.question {
  color: black;
  background: var(--highlight-color);
}

.question::after {
  content: none;
}

p {
  font-size: 1.5rem;
  margin: 2rem 0;
  font-family: 'Roboto', serif;
  text-align: justify;
  max-width: 600px;
}

.article_section {
  position: relative;

}

.article_section img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
  max-width: 100%;
}

.nav_btn {
  margin: 3rem 0 0;
  font-size: 1.5rem;
  padding: 0.5rem 1.25rem;
  border: 1px solid var(--highlight-color);
}

.nav_btn:hover {
  background: var(--highlight-color);
  color: var(--bg-main);
  font-weight: bold;
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.gold_text {
  color: var(--highlight-color);
}

.pink_text {
  color: rgb(228, 72, 98);
}

.gold_highlight {
  color: black;
  background: var(--highlight-color)
}

.pink_highlight {
  background: rgb(216, 62, 88);
}

.underline {
  text-decoration: underline;
}

.video {
  display: none;
  margin: 0 auto;
}

.article_section .article_image {
  background: white;
  border: 5px solid gold;
}

.pad_img {
  padding: 5px;
}

.linebreak {
  position: relative;
  width: 100%;
  margin: 5rem 0;
}

.linebreak::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--highlight-color);
}

@media only screen and (min-width: 768px) {


  body {
    padding: 5rem calc(100vw * 0.1);
  }

  .title {
    margin: 0 0 3rem;
    font-size: 5rem;
  }

  .sub_heading {
    text-align: center;
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
    margin: 5rem 0;
    max-width: 1000px;
  }

  .article_section
 img {
    max-width: 70%;
  }

  .nav_btn {
    font-size: 2rem;
  }
  
  .video {
    display: block;
  }

  .pad_img {
    padding: 20px;
  }
  
}

@media only screen and (min-width: 1200px) {

  body {
    padding: 10rem 20rem;
  }

  .title {
    margin: 0 0 5rem;
    font-size: 5rem;
  }

  .sub_heading::after {
    max-width: 1200px;
  }
  
  p {
    font-size: 2rem;
    margin: 5rem 0;
    max-width: 1200px;
  }

  .nav_btn {
    font-size: 3.5rem;
    margin: 10rem 0 0;
  }

  .pad_img {
    padding: 50px;
  }

  .linebreak {
    max-width: 1200px;
  }

}