@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --highlight-color: #F2A922;
  --bg-main: #0D0D0D;
  --bg-secondary: rgba(262626, .25);
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: var(--highlight-color);
  text-decoration: underline;
}

body {
  color: white;
  background: var(--bg-main);
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  padding: 2rem 4rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  gap: 3rem;
}

header {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
}

header h1 {
  font-size: 20rem;
  line-height: 20rem;
}

header h3 {
  font-size: 3rem;
}

.timeline {
  display: none;
}

article {

}

article p {
  font-family: 'Lora', serif;
}